@import "../../../colors.scss";

.popover-container {
  position: relative;
  display: inline-block;
}

.popover-trigger {
  border: none;
  background-color: transparent;
  border-radius: 4px;
  padding: 2px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover, &:focus {
    background-color: $bg-200;
  }

}

.popover-content{
  position: absolute;
  top: 100%;
  right: -24px;
  z-index: 1000;
  background-color: $accent-100;
  width: 80px;
  height: 60px;
  border-radius: 4px;
  background-color: $bg-100;
  border: 1px solid $border-100;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.popover-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  font-size: 12px;
  color: $text-100;
  font-weight: 600;
  padding: 4px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: $bg-200;
  }

  &:icon{
    background-color: $accent-100;
  }

}


