@import "../../../colors.scss";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-family: "Inter", sans-serif;
  background-color: $accent-100;
  padding: 4px;
  height: 35px;
  width: 150px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: $bg-100;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: $hover-100;
  }
}

button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: $border-100;
  border: $text-100;
  transition: none;

  &:hover {
    background-color: $border-100;
  }
}
