$primary-100: #f4f7fc ;

$accent-100: #00619a;

$hover-100: #1374b1;

$danger-100: #D92D20;
$danger-200: #b31f15;

$text-100: #667085;
$text-200: #464f60;
$text-300: #171c26;

$border-100: #d0d5dd;

$bg-100: #ffffff;
$bg-200: #E9EDF5;
